img
{
width: 100%;
border-radius: 10px;
padding-top: 20px;

padding-bottom: 20px;

}





html
{
  background-image: url(https://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg);
  background-size: cover;
}
